<div class="alert alert-info">
    <p>Select the organization that will earn points when you share our classes on social media.</p>
</div>
<form action="{{ action }}" method="post" id="org_selector_form" role="form">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            <label class="control-label" for="form_organization">Organization</label>
            {{ form_widget(form.organization) }}
            {{ form_errors(form.organization) }}
        </div>

    {{ form_end(form) }}
    <div class="form-actions text-center">
      <button type="submit" class="btn btn-primary">Select</button>
    </div>
</form>