<footer class="black-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-sm-3">
        <div class="widget"> <img src="{{ paths.theme }}images/logo.png" data-at2x="{{ paths.theme }}images/logo@2x.png" alt="" />
          <div class="divide20"></div>
          <p>Missional Digerati is a Christian non-profit mobile and web app development team dedicated to leveraging technology for the purpose of delivering the Gospel to every nation.</p>
          <div class="divide5"></div>
          <ul class="social">
            {{ menu('social', '_menu_social.twig') }}
          </ul>
        </div>
        <!-- /.widget --> 
      </div>
      <!-- /col -->

      <div class="col-sm-6">
        <div class="widget">
            <div id="core-values" class="tab-container">
                <div class="panel-container">
                  <div id="panel-technology-driven">
                    <p>At our core, we want to discover new ways to redeem technology for kingdom purposes. As a <strong><span class="colored">technology driven</span></strong> ministry we strive to learn the newest technologies, and discover new ways to use these technologies in fulfilling the Great Commission.</p>
                  </div>
                  <div id="panel-mission-minded">
                    <p>We are a <strong><span class="colored">mission minded</span></strong> organization that is committed to the fulfillment of the Great Commission in the hardest to reach areas of the globe.</p>
                  </div>
                  <div id="panel-community-focused">
                    <p>We are a <strong><span class="colored">community focused</span></strong> ministry, looking at the needs of the missional community over the needs of an individual agency.</p>
                  </div>
                  <div id="panel-donor-supported">
                    <p>As a <strong><span class="colored">donor supported</span></strong> ministry, we depend on the generous donations of friends, family and mission agencies to meet our financial needs.  We are so thankful for the dedication of these individuals who equip us to do the work that we do.</p>
                  </div>
                </div>
                <ul class="etabs">
                  <li class="tab"><a href="#panel-technology-driven">1</a></li>
                  <li class="tab"><a href="#panel-mission-minded">2</a></li>
                  <li class="tab"><a href="#panel-community-focused">3</a></li>
                  <li class="tab"><a href="#panel-donor-supported">4</a></li>
                </ul>
              </div>
        </div>
        <!-- /.widget --> 
      </div>
      <!-- /col -->
      
      <div class="col-sm-3">
        <div class="widget">
          {% include '_upcoming_class_widget.twig' %}
        </div>
        <!-- /.widget --> 
      </div>
      <!-- /col -->
    </div>
    <!-- /.row --> 
  </div>
  <!-- .container -->
  
  <div class="sub-footer">
    <div class="container">
      <p class="pull-left">© 2014 Missional Digerati. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.</p>
      <ul class="footer-menu pull-right">
        {{ menu('footer', '_menu_footer.twig') }}
      </ul>
    </div>
  </div>
</footer>
<!-- /footer -->
<div id="trigger-sldeup-panel" class="toggle-slideup-panel visible-xs"><i class="icon-picons-like"></i> Share</div>
<div id="slideup-share-panel">
  <ul class="list-group">
    <li class="list-group-item twitter">
      <a href="https://twitter.com/intent/tweet?url={{ app.request.uri|url_encode }}&{{share_description}}&via=M_Digerati">
        <div class="twitter-small-icon mobile-share-icon"></div> Twitter
      </a>
    </li>
    <li class="list-group-item facebook">
      <a href="">
        <div class="facebook-small-icon mobile-share-icon"></div> Facebook
      </a>
    </li>
    <li class="list-group-item google">
      <a href="https://plus.google.com/share?url={{ app.request.uri|url_encode }}">
        <div class="google-small-icon mobile-share-icon"></div> Google +
      </a>
    </li>
    <li class="list-group-item pinterest">
      <a href="http://pinterest.com/pin/create/button/?url={{ app.request.uri|url_encode }}&media=http%3A%2F%2F{{ app.request.host }}{{ paths.theme }}images%2F{{ogg_image_file}}&description={{share_description}}">
        <div class="pinterest-small-icon mobile-share-icon"></div> Pinterest
      </a>
    </li>
    <li class="list-group-item linkedin">
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri|url_encode }}&title={{share_title_text}}&summary={{share_description}}&source={{'Missional Digerati'|url_encode}}">
        <div class="linkedin-small-icon mobile-share-icon"></div> LinkedIn
      </a>
    </li>
  </ul>
</div> 
