<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{{ paths.theme }}images/favicon.png">
<title>Slowave</title>
<!-- Bootstrap core CSS -->
<link href="{{ paths.theme }}stylesheets/bootstrap.css" rel="stylesheet">
<link href="{{ paths.theme }}stylesheets/settings.css" rel="stylesheet">
<link href="{{ paths.theme }}stylesheets/owl.carousel.css" rel="stylesheet">
<link href="{{ paths.theme }}javascripts/google-code-prettify/prettify.css" rel="stylesheet">
<link href="{{ paths.theme }}javascripts/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ paths.theme }}javascripts/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
<link href="{{ paths.theme }}stylesheets/style.css" rel="stylesheet">
<link href="{{ paths.theme }}stylesheets/blue.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href="{{ paths.theme }}type/fontello.css" rel="stylesheet">
<link href="{{ paths.theme }}type/picons.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="{{ paths.theme }}javascripts/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
