{% if page.slug == 'our-ministry' %}
    <figure><img src="{{ paths.theme }}images/main_images/our_ministry.png" width="1170" height="450" alt="People Holding Mobile Phones" /></figure>
    <div class="image-caption">
            <span class="meta"><a href="https://www.flickr.com/photos/davelawler/" target="_blank">Photo By Dave Lawler</a></span>
    </div>
{% elseif page.slug == 'our-coding-practices' %}
    <figure><img src="{{ paths.theme }}images/main_images/our_coding_practices.png" width="1170" height="450" alt="Ruby Code" /></figure>
    <div class="image-caption">
            <span class="meta"><a href="https://www.flickr.com/photos/gavinmusic/" target="_blank">Photo By Gavin St. Ours</a></span>
    </div>
{% elseif page.slug == 'submit-an-idea' %}
    <figure><img src="{{ paths.theme }}images/main_images/submit_an_idea.png" width="1170" height="450" alt="Light Bulb" /></figure>
    <div class="image-caption">
            <span class="meta"><a href="http://www.juliansantacruz.com" target="_blank">Photo By Julian Santacruz</a></span>
    </div>
{% elseif page.slug == 'join-volunteer' %}
    <figure><img src="{{ paths.theme }}images/main_images/join_volunteer.png" width="1170" height="450" alt="Geek Glasses" /></figure>
    <div class="image-caption">
            <span class="meta"><a href="http://mynameisjed.com/" target="_blank">Photo By Jed De La Cruz</a></span>
    </div>
{% elseif page.slug == 'donate' %}
    <figure><img src="{{ paths.theme }}images/main_images/partner.png" width="1170" height="450" alt="Two Climbers on Mountain Top" /></figure>
    <div class="image-caption">
            <span class="meta"><a href="http://pixabay.com/en/users/nguyentuanhung/" target="_blank">Photo By Tuan Hung Nguyen</a></span>
    </div>
{% elseif page.slug == 'contact-us' %}
    <figure><img src="{{ paths.theme }}images/main_images/contact_us.png" width="1170" height="450" alt="Communications Recorded on Twitter" /></figure>
    <div class="image-caption">
        <h3>World Travel & Communications Recorded on Twitter (September 1, 2011)</h3>
        <span class="meta"><a href="https://www.flickr.com/photos/walkingsf/" target="_blank">Photo By Eric Fischer</a></span>
    </div>
{% elseif page.slug == 'statement-of-faith' %}
    <figure><img src="{{ paths.theme }}images/main_images/statement_of_faith.png" width="1170" height="450" alt="Bible Image" /></figure>
    <div class="image-caption">
        <span class="meta"><a href="http://pixabay.com/en/users/PublicDomainPictures/" target="_blank">Photo By PublicDomainPictures</a></span>
    </div>
{% elseif page.slug == 'our-services' %}
    <figure><img src="{{ paths.theme }}images/main_images/our_services.png" width="1170" height="450" alt="Geek Glasses" /></figure>
{% endif %}
<div class="divide30"></div>