{% if project.thumb_image is defined and project.thumb_image is not empty %}
    <figure class="icon-overlay medium icn-link">
        <a href="/projects/{{ project.slug }}">
            <span class="icn-more"></span>
            <img src="{{ project.thumb_image|image }}" title="{{ project.title }}" class="current-project">
        </a>
    </figure>
    <div class="image-caption">
        <h3>{{ project.title }}</h3>
        <span class="meta">{{ project.tagline }}... <a href="/projects/{{ project.slug }}">Learn More</a></span>
    </div>
    <div class="divide30"></div>
{% endif %}