
  <div class="fullwidthbanner-container revolution">
    <div class="fullwidthbanner">
      <ul>
        <li data-transition="fade"><img src="{{ paths.theme }}images/art/slider-bg3.jpg" alt="" />
          <div class="caption lft" data-x="0" data-y="140" data-speed="900" data-start="800" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/mac_pro_jp_app.png" alt="" /></div>
          <div class="caption lfr" data-x="395" data-y="270" data-speed="900" data-start="1500" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/ipad_jp_app.png" alt="" /></div>
          <div class="caption lfl" data-x="340" data-y="400" data-speed="900" data-start="1800" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/t_mobile_jp_app.png" alt="" /></div>
          <div class="caption sft lite dark" data-x="center" data-y="75" data-speed="400" data-start="2900" data-easing="Sine.easeOut">Redeeming Technology for Kingdom Work!</div>
          <div class="caption sfr lite" data-x="850" data-y="185" data-speed="400" data-start="3500" data-easing="Sine.easeOut"><i class="icon-picons-desktop"></i> Technology Driven</div>
          <div class="caption sfr lite" data-x="850" data-y="237" data-speed="400" data-start="4100" data-easing="Sine.easeOut"><i class="icon-picons-earth"></i> Mission Minded</div>
          <div class="caption sfr lite" data-x="850" data-y="289" data-speed="400" data-start="4700" data-easing="Sine.easeOut"><i class="icon-picons-users-2"></i> Community Focused</div>
          <div class="caption sfr lite" data-x="850" data-y="341" data-speed="400" data-start="5300" data-easing="Sine.easeOut"><i class="icon-picons-heart"></i> Donor Supported</div>
          <div class="caption sfb" data-x="850" data-y="395" data-speed="800" data-start="6000" data-easing="Sine.easeOut"><a href="/about-us" class="btn btn-border-lite btn-large">Learn More</a></div>
        </li>
        <li data-transition="fade"><img src="{{ paths.theme }}images/md_art/backgrounds/bible.png" alt="" />
          <div class="caption lfl" data-x="200" data-y="140" data-speed="900" data-start="800" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/iphone_med.png" alt="" /></div>
          <div class="caption sft dark bold" data-x="center" data-y="45" data-speed="400" data-start="1800" data-easing="Sine.easeOut">Faith & Tech</div>
          <div class="caption sfr dark tagline" data-x="center" data-y="95" data-speed="400" data-start="2400" data-easing="Sine.easeOut">Living Out Our Faith in a Technology Saturated World&nbsp;</div>
          <div class="caption sfr dark bullet_point" data-x="450" data-y="200" data-speed="400" data-start="3600" data-easing="Sine.easeOut"><i class="icon-picons-manual"></i> Church Training Course</div>
          <div class="caption sfr dark bullet_point" data-x="450" data-y="250" data-speed="400" data-start="4800" data-easing="Sine.easeOut"><i class="icon-picons-users"></i> Hands On Activities</div>
          <div class="caption sfr dark bullet_point" data-x="450" data-y="300" data-speed="400" data-start="6000" data-easing="Sine.easeOut"><i class="icon-picons-fire"></i> Learn How Technology Encourages a Believer's Faith</div>
          <div class="caption sfr dark bullet_point" data-x="450" data-y="350" data-speed="400" data-start="7200" data-easing="Sine.easeOut"><i class="icon-picons-earth"></i> And Learn How It Expediates Delivery of the Gospel</div>
          <div class="caption sfb" data-x="center" data-y="450" data-speed="400" data-start="7500" data-easing="Sine.easeOut"><a href="/about-us" class="btn btn-border-lite btn-large">Host a Class Today</a></div>
        </li>
        <li data-transition="fade"><img src="{{ paths.theme }}images/md_art/backgrounds/blue_wood.png" alt="" />
          <div class="caption sfb lite title_header" data-x="center" data-y="500" data-speed="400" data-start="1000" data-easing="Sine.easeOut">Technology Crafted for Your Ministry's Needs</div>
          <div class="caption lft" data-x="10" data-y="95" data-speed="900" data-start="1500" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/bordered_79_snapshot.jpg" alt="" /></div>
          <div class="caption fade" data-x="130" data-y="5" data-speed="400" data-start="2100" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/chalk_web.png" alt="" /></div>
          <div class="caption lft" data-x="550" data-y="105" data-speed="900" data-start="3000" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/bordered_jp_snapshot.jpg" alt="" /></div>
          <div class="caption fade" data-x="553" data-y="5" data-speed="400" data-start="3600" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/chalk_mobile.png" alt="" /></div>
          <div class="caption sfr" data-x="right" data-y="center" data-speed="800" data-start="4500" data-easing="Sine.easeOut"><a href="/submit-an-idea" class="btn btn-large btn-red">Share Your Project</a></div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.fullwidthbanner --> 
  </div>
  <!-- /.fullwidthbanner-container -->
