
  <div class="fullwidthbanner-container revolution">
    <div class="fullwidthbanner">
      <ul>
      	<li data-transition="fade"> <img src="{{ paths.theme }}images/art/slider-bg1.jpg" alt="" />
          <div class="caption sfb bold text-center" data-x="center" data-y="198" data-speed="900" data-start="800" data-easing="Sine.easeOut">Hello! This is Slowave</div>
          <div class="caption sfb lite small text-center" data-x="center" data-y="258" data-speed="900" data-start="1500" data-easing="Sine.easeOut">A responsive site template with a clean and profession design <br />that will be a great solution for your business, portfolio, blog or any other purpose.</div>
          <div class="caption sfb" data-x="center" data-y="353" data-speed="900" data-start="2200" data-easing="Sine.easeOut"><a href="#" class="btn btn-large">Purchase Now</a></div>
        </li>
      	<li data-transition="fade"> <img src="{{ paths.theme }}images/art/slider-bg2.jpg" alt="" />
          <div class="caption lft" data-x="445" data-y="140" data-speed="900" data-start="1100" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/art/w1.png" alt="" /></div>
          <div class="caption lft" data-x="578" data-y="126" data-speed="900" data-start="2100" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/art/w2.png" alt="" /></div>
          <div class="caption lft" data-x="885" data-y="132" data-speed="900" data-start="3100" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/art/w3.png" alt="" /></div>
          <div class="caption lft" data-x="725" data-y="118" data-speed="900" data-start="4100" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/art/w4.png" alt="" /></div>
          <div class="caption sft opacity-bg" data-x="35" data-y="200" data-speed="500" data-start="800" data-easing="Sine.easeOut">Rich layout options</div>
          <div class="caption sfr opacity-bg" data-x="35" data-y="265" data-speed="500" data-start="1300" data-easing="Sine.easeOut">Suitable for any website</div>
          <div class="caption sfb" data-x="35" data-y="330" data-speed="500" data-start="1800" data-easing="Sine.easeOut"><a href="#" class="btn btn-large">Purchase Now</a></div>
        </li>
        <li data-transition="fade"> <img src="{{ paths.theme }}images/art/slider-bg3.jpg" alt="" />
          <div class="caption lft" data-x="35" data-y="140" data-speed="900" data-start="800" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/art/slider-laptop.png" alt="" /></div>
          <div class="caption lfr" data-x="475" data-y="235" data-speed="900" data-start="1500" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/art/slider-tablet.png" alt="" /></div>
          <div class="caption lfl" data-x="440" data-y="349" data-speed="900" data-start="1800" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/art/slider-phone.png" alt="" /></div>
          <div class="caption sfr lite dark" data-x="750" data-y="185" data-speed="400" data-start="2500" data-easing="Sine.easeOut">100% Responsive</div>
          <div class="caption sfr lite dark" data-x="750" data-y="237" data-speed="400" data-start="2900" data-easing="Sine.easeOut">Twitter Bootstrap</div>
          <div class="caption sfr lite dark" data-x="750" data-y="289" data-speed="400" data-start="3300" data-easing="Sine.easeOut">Revolution Slider</div>
          <div class="caption sfr lite dark" data-x="750" data-y="341" data-speed="400" data-start="3700" data-easing="Sine.easeOut">Flat Design</div>
          <div class="caption sfb" data-x="750" data-y="395" data-speed="800" data-start="4200" data-easing="Sine.easeOut"><a href="#" class="btn btn-border-dark btn-large">Check More</a></div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.fullwidthbanner --> 
  </div>
  <!-- /.fullwidthbanner-container -->
