<h3 class="section-title widget-title upper">Upcoming Training</h3>
{% setcontent classes = 'upcoming-classes' where { status: 'published', date_of_class: '>= today', public: 1 } orderby 'date_of_class' limit 1 %}

<ul class="post-list">
    {% if classes is defined and classes is not empty %}

        {% for class in classes %}
            {% set type_of_training = class.related() %}
            <li>
                <div class="text-center">
                    {% if type_of_training is defined and type_of_training is not empty %}

                        {% for training in type_of_training %}

                            {% if training.thumb_image is defined and training.thumb_image is not empty %}
                                <figure>
                                <img src="{{ training.thumb_image|image }}" title="{{ class.title }}" class="img-square upcoming-class-image">
                                </figure>
                            {% endif %}

                            <h6><a href="/upcoming-classes/{{ class.slug }}">{{ class.title }} ({{ training.title }})</a></h6>

                        {% endfor %}

                        
                    {% else %}

                        <h6><a href="/upcoming-classes/{{ class.slug }}">{{ class.title }}</a></h6>

                    {% endif %}
                    <p class="colored">{{ class.date_of_class|date("M d, ’y @ g:i a") }}</p>
                    <a href="/upcoming-classes/{{ class.slug }}" class="btn btn-blue">Register</a>
                </div>
            </li>

        {% endfor %}

    {% else %}

        <li>Sorry, no classes currently.</li>

    {% endif %}
</ul>
<!-- /.post-list --> 