{% include '_header.twig' %}

<body class="full-layout">
<div class="body-wrapper">

  {% include '_nav.twig' %}

  <div class="offset"></div>

  <div class="light-wrapper page-title">
    <div class="container inner gamify">
      <h1 class="pull-left">{{ page.title }}</h1>
      <div class="pull-right" id="gamify_section">
        <p class="has_church"><span class="heading">Your Sharing Supports</span><br><a href="#" class="church_link" data-rel="tooltip" data-placement="left" rel="tooltip" data-original-title="">San Gabriel Community Church</a><br><a href="#org_selector_form_holder" class="change_church trigger_church_change gamify_fancybox">Change</a></p>
        <p class="needs_church"><span class="heading">Make Your Sharing Count</span><br><a href="#org_selector_form_holder" class="church_link trigger_church_change gamify_fancybox" data-rel="tooltip" data-placement="left" rel="tooltip" data-original-title="Make your sharing count.  Everytime you share this page you can earn points for your favorite church.  These points open up new free classes they can host.">Choose a Church to Support</a></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div> 

  <div class="dark-wrapper">
    <div class="container inner">
      {% if page.slug == "digerati-101" %}
        {% set training_type='Digerati 101' %}
        <figure class="player">
          <iframe width="1170" height="658" src="//www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen webkitAllowFullScreen mozallowfullscreen></iframe>
        </figure>
        <div class="divide30"></div>
      {% else %}
        {% set training_type='Faith & Tech' %}
      {% endif %}
      <div class="section-title text-center">
        <h2>{{ page.tagline }}</h2>
        <span class="icon"><i class="icon-picons-{{ page.tagline_icon }}"></i></span>
      </div>
      {{ page.body_header }}
      <div class="divide30"></div>
      <h2>Current Curriculum</h2>
      {% setcontent curriculum = 'curriculum' where { training_types: training_type } orderby 'points' %}
      {% if curriculum is defined and curriculum is not empty %}
        <div class="row">
          {% for class in curriculum %}

            <div class="col-sm-6">

                {% include '_available_class.twig' with {'class': class} %}
                
            </div>

            {% if loop.index0 % 2 %}

              <div class="clearfix"></div>
              <div class="divide20"></div>

            {% endif %}
          {% endfor %}
        </div>
        <div class="divide30"></div>
      {% else %}
        <p>Sorry, no classes available.  Please check back soon.</p>
        <div class="divide30"></div>
      {% endif %}
      {% if page.body_footer != '' %}
        {{ page.body_footer }}
      {% endif %}
    </div>
  </div>
  
{% include '_footer.twig' %}

</div>
<div style="display:none;" id="org_selector_form_holder">
  {{ organization_select_form() }}
</div>
<!-- /.body-wrapper --> 

{% include '_scripts.twig' %}
<script type="text/javascript">
  $(function() {
    mdGamify();
  });
</script>
</body>
</html>
