{% include '_header.twig' %}

<body class="landing-page full-layout">
    <div class="body-wrapper">
        <div class="navbar basic default">
          <div class="navbar-header">
            <div class="container">
                <div class="basic-wrapper">
                    <a class="navbar-brand" href="http://missionaldigerati.org">
                        <img src="{{ paths.theme }}images/logo.png" data-at2x="{{ paths.theme }}images/logo@2x.png" alt="" />
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
          </div>
          <!--/.nav-collapse --> 
        </div>
        <!--/.navbar -->
        <div class="offset"></div>

        <div class="parallax digital-quiet-time-landing">
            <div class="container inner">
                <div class="thin">
                    <div class="section-title text-center">
                        <h2>Faith & Tech: Digital Quiet Time</h2>
                        <span class="icon"><i class="icon-picons-{{ page.tagline_icon }}"></i></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="col-sm-6 col-sm-offset-2">
                            <div class="form-container">
                                {{ simpleform("digital_quiet_time_landing") }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /.thin -->
            </div>
            <!-- /.container.inner -->
        </div>
        <!-- /.paralax -->
        <div class="dark-wrapper">
            <div class="container inner">
                {{ page.body_header }}
                {% if page.body_footer != '' %}
                    {{ page.body_footer }}
                {% endif %}
            </div>
        </div>

    {% include '_footer.twig' %}

    </div>
    <!-- /.body-wrapper --> 

    {% include '_scripts.twig' %}

</body>