{% include '_header.twig' %}

<body class="landing-page full-layout">
    <div class="body-wrapper">
        <div class="navbar basic default">
          <div class="navbar-header">
            <div class="container">
                <div class="basic-wrapper">
                    <a class="navbar-brand" href="http://missionaldigerati.org">
                        <img src="{{ paths.theme }}images/logo.png" data-at2x="{{ paths.theme }}images/logo@2x.png" alt="" />
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
          </div>
          <!--/.nav-collapse --> 
        </div>
        <!--/.navbar -->
        <div class="offset"></div>

        <div class="parallax digital-quiet-time-landing">
            <div class="container inner">
                <div class="thin">
                    <div class="section-title text-center">
                        <h2><a name="#host_a_class"></a>Faith & Tech: Digital Quiet Time</h2>
                        <span class="icon"><i class="icon-picons-{{ page.tagline_icon }}"></i></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pitch-text">
                            <h3 class="question">Can Your Phone Enrich Your Quiet Time?</h3>
                            <p><strong>Definitely!</strong>  We would like to show you how.  In our 4 hour FREE class you will learn to use your smart phone to:</p>
                            <ul>
                                <li>Read Your Bible</li>
                                <li>Journal Your Thoughts</li>
                                <li>Share & Receive Prayer Requests</li>
                                <li>Memorize Bible Verses</li>
                                <li>Share the Gospel</li>
                            </ul>
                            <p>So if you are ready to use your phone for more than playing video games, <strong>host a class today!</strong></p>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-container parallax-form">
                                <h3>Host a Class</h3>
                                {{ simpleform("digital_quiet_time_landing") }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /.thin -->
            </div>
            <!-- /.container.inner -->
        </div>
        <!-- /.paralax -->
        <div class="dark-wrapper">
            <div class="container inner">
                {{ page.body_header }}
                {% if page.body_footer != '' %}
                    {{ page.body_footer }}
                {% endif %}
            </div>
        </div>

    {% include '_footer.twig' %}

    </div>
    <!-- /.body-wrapper --> 

    {% include '_scripts.twig' %}

</body>