{% form_theme form 'simpleforms/fields/form_fields.twig' %}

{% if error %}
    <p class="alert alert-danger">{{ error }}</p>
{% endif %}
{% if message %}
    <p class="alert alert-success">{{ message }}</p>
{% endif %}
{% if not sent %}
{% if recaptcha_theme %}
<script>
    var RecaptchaOptions = {
        theme : '{{ recaptcha_theme }}'
    };
</script>
{% endif %}
<form action="#" method="post" class="simpleform simpleform-{{ formname }}" enctype="multipart/form-data">
    {{ form_widget(form) }}

    {% if recaptcha_html %}
    <div class="simpleform-row">
        <label for="form_message" class="required">ReCaptcha</label>
        {{ recaptcha_html|raw }}
    </div>
    {% endif %}
    <div class="simpleform-submit">
        <input type="submit" name="submit" value="{{ button_text }}" class="btn-submit btn" />
    </div>
</form>
{% endif %}